<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">
			
		  <p>Secure, Trustworthy, and Reliable AI (Star-AI) Lab
		  <p>&copy 2024 &#9733;AI Lab </p>
		  <p>University of South Florida</p>          
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-6">
			<figure class="fourth">
				<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/usf.png" style="width: 60px">
			</figure> 
		</div>
		<!--
		<div class="col-sm-4">
		  Contact:<br />
		  Oort building, Leiden University<br />
		  Niels Bohrweg 2<br />
		  2333 CA Leiden<br />
		  Netherlands <br />
            
		</div>-->
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
